# Pandas: Merge, Join, and Concatenate

In [49]:
import pandas as pd

#Frames to use throughout activity
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'unicorn', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
    

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                     index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

df5 = pd.DataFrame({'G': ['G2', 'G3', 'G6', 'G7'],
                    'H': ['H2', 'H3', 'H6', 'H7'],
                    'I': ['I2', 'I3', 'I6', 'I7']},
                    index=[2, 3, 6, 7])

#Series object to compare
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')

In [43]:
df1

         A   B   C   D
0  unicorn  B0  C0  D0
1       A1  B1  C1  D1
2       A2  B2  C2  D2
3       A3  B3  C3  D3

In [4]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [5]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [6]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [7]:
df5

    G   H   I
2  G2  H2  I2
3  G3  H3  I3
6  G6  H6  I6
7  G7  H7  I7

In [8]:
s1

0    X0
1    X1
2    X2
3    X3
Name: X, dtype: object

## Concatenate

Concatenate is the most straightforward way to put together data frames. Think of it like "gluing" them together. It works along an axis (the default being 0, aka column) and adds the designated objects as it goes. 

This can be made more specific by including a "join" method, though this can be done directly as well, which we will discuss later. 

[Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/merging.html)

In [9]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [15]:
pd.concat([df1,df2], axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

CHECK IN: 
- What do you notice here? 
- What would you have expected to be different? 
- What will happen if we add df4?

In [16]:
pd.concat([df1,df2,df4], axis=1)

     A    B    C    D    A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN   B2   D2   F2
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN   B3   D3   F3
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6   B6   D6   F6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7   B7   D7   F7

A useful shortcut to concat are the append instance methods on Series and DataFrame. These methods actually predated concat. Unlike list.append method, which appends to the original list and returns nothing, append here does not modify df1 and returns its copy with df2 appended.

In [20]:
df1.append([df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [18]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

Concatenation can be done on a mix of data frames and single series

In [21]:
pd.concat([df1,s1], axis=1)

    A   B   C   D   X
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

Concatenation can also be done repeatedly using the same data

In [22]:
pd.concat([df1,s1,s1,s1], axis=1)

    A   B   C   D   X   X   X
0  A0  B0  C0  D0  X0  X0  X0
1  A1  B1  C1  D1  X1  X1  X1
2  A2  B2  C2  D2  X2  X2  X2
3  A3  B3  C3  D3  X3  X3  X3

You can pass a dictionary to concat - the keys will be used by default as the "keys" argument in the concat method, unless you specify otherwise

In [23]:
pieces = {'x': df1, 'y': df2, 'z': df3}

In [27]:
pd.concat(pieces)

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [25]:
pd.concat(pieces, keys=['z','y'])

        A    B    C    D
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7

## Merge

pandas.merge() is the underlying function used for all merge/join behavior. It is similar to concat, in that it links objects together, but has more sophisticated behavior. 

Merge can be called from pandas directly:

In [50]:
pd.merge(left=df1, right=df2, how='outer')

    A        B   C   D
0  A0       B0  C0  D0
1  A1       B1  C1  D1
2  A2  unicorn  C2  D2
3  A3       B3  C3  D3
4  A4       B4  C4  D4
5  A5       B5  C5  D5
6  A6       B6  C6  D6
7  A7       B7  C7  D7

Or called on a single data frame (note, the data frame merge is called on will always take the role of 'left'):

In [51]:
df1.merge(right=df2, how='outer')

    A        B   C   D
0  A0       B0  C0  D0
1  A1       B1  C1  D1
2  A2  unicorn  C2  D2
3  A3       B3  C3  D3
4  A4       B4  C4  D4
5  A5       B5  C5  D5
6  A6       B6  C6  D6
7  A7       B7  C7  D7

There are 4 types of merge: left, right, inner, and outer (sometimes called full, but pandas uses the keyword "outer")

![Join Types](http://www.dofactory.com/Images/sql-joins.png)

In [52]:
df1

    A        B   C   D
0  A0       B0  C0  D0
1  A1       B1  C1  D1
2  A2  unicorn  C2  D2
3  A3       B3  C3  D3

In [53]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

CHECK IN: Whiteboard what you think each type of merge would yield

In [54]:
df1.merge(right=df4, how='inner')

    A   B   C   D   F
0  A3  B3  C3  D3  F3

In [55]:
df1.merge(right=df4, how='outer')

     A        B    C   D    F
0   A0       B0   C0  D0  NaN
1   A1       B1   C1  D1  NaN
2   A2  unicorn   C2  D2  NaN
3   A3       B3   C3  D3   F3
4  NaN       B2  NaN  D2   F2
5  NaN       B6  NaN  D6   F6
6  NaN       B7  NaN  D7   F7

In [56]:
df1.merge(right=df4, how='left')

    A        B   C   D    F
0  A0       B0  C0  D0  NaN
1  A1       B1  C1  D1  NaN
2  A2  unicorn  C2  D2  NaN
3  A3       B3  C3  D3   F3

In [57]:
df1.merge(right=df4, how='right')

     A   B    C   D   F
0   A3  B3   C3  D3  F3
1  NaN  B2  NaN  D2  F2
2  NaN  B6  NaN  D6  F6
3  NaN  B7  NaN  D7  F7

Merges default to joining "on" the index (using it as their guide), but can be joined on any common column.

In [81]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

left

    A   B key1
0  A0  B0   K0
1  A1  B1   K0
2  A2  B2   K1
3  A3  B3   K2

In [77]:
right

    C   D key1
0  C0  D0   K0
1  C1  D1   K1
2  C2  D2   K1
3  C3  D3   K2

You can also merge "on" more than one key:

In [83]:
#Add a "key2" column to "left"
key2 = pd.DataFrame({'key2': ['K0', 'K1', 'K0', 'K1']})
left = pd.concat([left, key2], axis=1)
left

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [84]:
#Add a "key2" column to "right"
key2 = pd.DataFrame({'key2': ['K0', 'K0', 'K0', 'K0']})
right = pd.concat([right, key2], axis=1)
right

    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

In [85]:
pd.merge(left, right, on=['key1'])

    A   B key1 key2_x   C   D key2_y
0  A0  B0   K0     K0  C0  D0     K0
1  A1  B1   K0     K1  C0  D0     K0
2  A2  B2   K1     K0  C1  D1     K0
3  A2  B2   K1     K0  C2  D2     K0
4  A3  B3   K2     K1  C3  D3     K0

In [91]:
#Now merge using both key1 and the new key2
pd.merge(left, right, on=['key1','key2'], how='left')

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

## Join

DataFrame.join is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [94]:
df1.join(df5)
#Note: This must be called on one data frame, not on pandas as a whole

    A        B   C   D    G    H    I
0  A0       B0  C0  D0  NaN  NaN  NaN
1  A1       B1  C1  D1  NaN  NaN  NaN
2  A2  unicorn  C2  D2   G2   H2   I2
3  A3       B3  C3  D3   G3   H3   I3

The types of joins describe above still apply

In [95]:
df1.join(df5, how='inner')

    A        B   C   D   G   H   I
2  A2  unicorn  C2  D2  G2  H2  I2
3  A3       B3  C3  D3  G3  H3  I3

Since join always acts on the index and on axis 1, you can end up with an error if you try to merge overlapping columns:

In [96]:
df1.join(df4)

ValueError: columns overlap but no suffix specified: Index([u'B', u'D'], dtype='object')

This can be addressed by always specifying a suffix for one or both data frames:

In [98]:
df1.join(df4, lsuffix='L', rsuffix='R')

    A       BL   C  DL   BR   DR    F
0  A0       B0  C0  D0  NaN  NaN  NaN
1  A1       B1  C1  D1  NaN  NaN  NaN
2  A2  unicorn  C2  D2   B2   D2   F2
3  A3       B3  C3  D3   B3   D3   F3

CHECK IN: What do you see happened with the column names? Why didn't the same thing happen to all of them?

## Join vs. Merge
These are the main differences between df.join(df2) and df.merge(df2):
- Defaults: join does a left join by default, merge does an inner join by default
- join always uses the index of df2, but merge can join to one or more columns or to the index
- join uses the index of df1 and merge uses the columns of df1 by default (both can be overriden)

So, the generic approach is to use pandas.merge(df1, df2) or df1.merge(df2). But for a number of common situations (keeping all rows of df1 and joining to an index in df2), you can save some typing by using df1.join(df2) instead.

[Source: Stack Overflow](http://stackoverflow.com/questions/22676081/pandas-the-difference-between-join-and-merge)